.nav-link {
  padding: 0 1em;
  color: #CCCC00;
  text-align: center;
  text-decoration: none;
}
.navhead{
  display: flex;
  position: fixed;
  height: 44px;
  top:0;
  left:0;
  background-color: #5A3333;
  width: 100%;
  align-items: center;
}
.nav-link.router-link-active {
  color: rgba(255,255,255, 1);
}
.nav-link.router-link-active::after {
    height: 4px;
    width: 100%;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    position: inherit;
    background: rgb(83,109,254);
    background: #CCCC00;
}
